%h3
  I AM THE DASHBOARD

= link_to "Create new item", new_admins_item_path

.pagination.col-lg-12
  = will_paginate @items

- @items.each do |item|
  .col-lg-12
    .item
      %h3
        .name
          = link_to item.name, item
      £
      =  item.price
      =  item.description

      .item_image
        - if item.image.exists?
          %a(href="#" class="thumbnail")
            = image_tag(item.image.url(:thumb), class: 'item_image')
        - else
          %a(href="#" class="thumbnail")
            %img(data-src="holder.js/100%x180" alt="...")

      .add_item_button_container
        = form_for current_basket do |f|
          = hidden_field_tag(:item_id, item.id)
          = f.submit "Add item to basket", class: "add_item_button"
  .col-lg-1

.pagination.col-lg-12
  = will_paginate @items