%h2
  Please confirm your details

- if current_user.addresses.count > 0
  .address
    %h3
      Address
    = @current_address.addressee
    = @current_address.lineOne
    = @current_address.lineTwo
    = @current_address.town
    = @current_address.county
    = @current_address.postcode

- if current_user && current_user.addresses.count > 0
  %h3
    Want us to send it to a different address?

  = render 'address_form'

- else
  %h3
    Add address

  = render 'address_form'

- if current_user
  .email
    %h3
      Email
    = current_user.email

= form_tag charges_path do
  %article
    %label(class="amount")
      %span
        =@sub_total
        

  - data_key = "#{ Rails.configuration.stripe[:publishable_key] }"
  %script(src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key = data_key
          data-description = "A month's subscription"
          data-amount="500"
          data-currency="gbp")