%h2
  Please confirm your details

- if current_user.addresses.count > 0
  .address
    %h3
      Address
    = @current_address.addressee
    = @current_address.lineOne
    = @current_address.lineTwo
    = @current_address.town
    = @current_address.county
    = @current_address.postcode

- if current_user && current_user.addresses.count > 0
  %h3
    Want us to send it to a different address?

  = form_for @address do |f|
    = f.label :addressee
    = f.text_field :addressee

    = f.label :lineOne, "Address line one"
    = f.text_field :lineOne

    = f.label :lineTwo, "Address line two"
    = f.text_field :lineTwo

    = f.label :town
    = f.text_field :town

    = f.label :county
    = f.text_field :county

    = f.label :postcode
    = f.text_field :postcode

    = f.hidden_field :current_address, value: true
    = f.hidden_field :user_id, value: current_user.id

    = f.submit "Add address"

- else
  %h3
    Add address

  = form_for @address do |f|
    = f.label :addressee
    = f.text_field :addressee

    = f.label :lineOne, "Address line one"
    = f.text_field :lineOne

    = f.label :lineTwo, "Address line two"
    = f.text_field :lineTwo

    = f.label :town
    = f.text_field :town

    = f.label :county
    = f.text_field :county

    = f.label :postcode
    = f.text_field :postcode

    = f.hidden_field :current_address, value: true
    = f.hidden_field :user_id, value: current_user.id

    = f.submit "Add address"


- if current_user
  .email
    %h3
      Email
    = current_user.email

= form_tag charges_path do
  %article
    %label(class="amount")
      %span
        Amount: £5.00

  - data_key = "#{ Rails.configuration.stripe[:publishable_key] }"
  %script(src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key = data_key
          data-description = "A month's subscription"
          data-amount="500"
          data-currency="gbp")